<html>

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../../wwwroot/css/loginCss.css">

  <title> Managence Finance - Login</title>

</head>
<body>
  <header style="background-color:rgb(255, 102, 0);color:white;width: 100%; height: 10%;position: relative;">
    <p class="navbar-brand" style="padding: 10px;">Managence Finance</p>
  </header>
  
  <a class="aVoltar" href="../Home/index.html">Voltar</a>
  
  <div id="login">

    <form method="post" class="card">

      <div class="card-header">
        <h2> Login</h2>
      </div>

      <div class="card-content">
        <div class="card-content-area">
          <label for="usuario"> Usuário</label>
          <input type="text" id="usuario" autocomplete="off">
        </div>

        <div class="card-content-area">
          <label for="password"> Senha</label>
          <input type="password" id="password" autocomplete="off">
        </div>
      </div>

      <div class="card-footer">
        <input type="submit" value="login" class="submit">
        <a href="#" style="font-size: 18px;"> Faça o cadastro</a>
        <a href="#" class="recuperar_senha"> Esqueceu a senha?</a>
      </div>

    </form>

  </div>

  <footer style="background-color:rgb(255, 102, 0);color:white;width: 100%; height: 10%;position: relative;">
    <p class="navbar-brand" style="padding: 10px;">Todos os direitos negociáveis</p>
  </footer>
</body>

</html>