.topo{
    /* background-image: url("fundo.png"); */
}

body{
    padding: 60px 10px 0 10px;    
    /* background-image: url("../../assets/fundo1.png"); */
    background-color:#FF6600;
    background-repeat: repeat;
    background-size: 100%;
}

.jumbotronHeader{
    /* background-color:#FF9C5A; */
    /* color: floralwhite; */
    height: 600px;
}
.jumbotron{
    background-color:transparent;
    border-color: white;
    border-width: 2;
    border: solid;
}

.jumbotronBemVindo{
    /* background-color: #FF6600; */
}

.bemVindo{
    /* color: #FF6600; */
}

.blockMenu{
    position: relative;
    background-color:#FF9C5A;
    width:50px;
    height: 200px;
    float: left;
    color:white;
    border: solid;
    border-width: 1;
    border-color: #FF6600;
}

.blockMenu p{
    padding-top: 15%;
    text-align: center;
    font-size: 40px;
}

.tabInformacao{
    margin: 0 auto;
    padding: 5%;
    
    width: 80%;
}

.tabInformacao #tab{
}

.tabInformacao h3,p{
    text-align: center;
}

.slideMenuTop{
    background-color:rgba(0,0,0,0.7);
}
#slideMenuTopLink{
    color: #FF6600;

}

#slideMenuTopLink:hover { 
    color: #FF9C5A;
}

.comentario{

    border: outset;
    border-width: 1;
    border-color: #FF6600;
    padding: 20px;
    background-color:#FF9C5A;
    color:white;
}

.faleConosco{

    border: outset;
    border-width: 1;
    border-color: #FF6600;
    background-color:#FF9C5A;
    color:white;
}

.divCarrousel{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.carrouselImg img{
    margin-left: auto;
    margin-right: auto;
    height: 500px;
}

.colorButtonCarrousel{
    background-color:#666666;
}


#back-to-top {
    position: fixed;
    bottom: 50px;
    right: 50px;
  }